@use "variables";

// Decided to leave font-face and mixins in global folder since they are used globally
// If project gets bigger may move to separate partials
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}
@mixin flex($axis) {
  display: flex;
  flex-direction: $axis;
  flex-wrap: wrap;
}
@mixin title($fontSize, $color) {
  color: $color;
  font-size: $fontSize;
}
@mixin font($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
}
.bold-light {
  font-weight: 600;
}

.nav {
  background-color: variables.$bandSiteBlack;
  @include flex(column);
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
  @include tablet {
    @include flex(row);
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 1.5rem;
  }
  @include desktop {
    padding-left: 8rem;
  }
  a:not(.nav__log-link) {
    padding-bottom: 2rem;
  }
  h3 {
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1.1rem;
      margin-top: 0.75rem;
    }
  }
  &__logo {
    height: 1.5rem;
    @include tablet {
      height: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  &__links {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    
    @include tablet {
      width: 45%;
      margin-left: 2rem;
    }
    @include desktop {
      width: 25%;
    }
    &-container {
      width: 100%;
      margin-top: 1.3rem;
      @include tablet {
        margin-top: 0;
        width: 70%;
      }
    }
  }

  &__link {
    @include title(1rem, variables.$silver);
    list-style: none;
    @include flex(row);
    @include tablet {
      margin-left: 4rem;
    }

    &--active {
      font-family: 700;
      color: white;
    }
    &-container {
      width: 50%;
      @include flex(row);
      justify-content: center;
      align-items: flex-start;
      color: variables.$mercury;
      &--active {
        border-bottom: solid 0.3rem white;
        @include tablet {
          border: none;
        }
      }
    }
    &-name {
      &--active {
        @include tablet {
          border-bottom: solid 0.25rem white;
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}
.footer {
  background-color: variables.$bandSiteBlack;
  padding: 2rem 0 1.5rem 1.7rem;
  color: white;
  @include tablet {
    padding: 2rem 0 3rem 3.5rem;
  }
  @include desktop {
    padding-left: 10rem;
  }

  p {
    font-size: 0.75rem;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__socials {
    @include flex(row);
    justify-content: space-between;
    width: 50%;
    margin: 0;
    margin-top: 1.4rem;

    @include tablet {
      width: 33vw;
      max-width: 30%;
      margin: 0;
      margin-left: 3rem;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      margin-left: 4rem;
    }

    &-img {
      height: 1.65rem;
      @include tablet {
        height: 2rem;
      }
    }
  }
  &__div-p {
    margin-top: 1.4rem;
    @include tablet {
      margin-top: 2.5rem;
    }
    @include desktop {
      margin-right: 3rem;
      margin-top: 4rem;
    }
  }

  &__socials-container {
    @include tablet {
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      padding-top: 2.5rem;
      padding-right: 1rem;
    }
  }

  &__title {
    @include title(1.75rem, white);
    font-weight: 600;
    @include tablet {
      font-size: 2.25rem;
    }
  }
  &__copyright {
    padding-top: 3.5rem;
    padding-bottom: 0rem;
  }
  &__social-container {
    padding: 0;
    @include flex(column);
    @include tablet {
      @include flex(row);
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__contacts-tablet {
    @include tablet {
      @include flex(row);
    }
    &-inner {
      @include tablet {
        margin-right: 2rem;
      }
    }
  }
  &__containerMid-tablet {
    @include tablet {
      @include flex(row);
    }
  }
  &__logo {
    margin-bottom: 1rem;
    height: 1.5rem;
    @include tablet {
      display: none;
    }
  }
}
.hidden {
  &-logo {
    display: none;
    @include tablet {
      display: block;
      margin-right: 1.5rem;
    }
    @include desktop {
      margin-right: 6rem;
    }
  }
}

