@use "variables";

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}
@mixin flex($axis) {
  display: flex;
  flex-direction: $axis;
  flex-wrap: wrap;
}
@mixin title($fontSize, $color) {
  color: $color;
  font-size: $fontSize;
}
@mixin font($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
}
.bold-light {
  font-weight: 600;
}
.nav {
  background-color: variables.$bandSiteBlack;
  @include flex(column);
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  // height: 20vw;
  width: 100vw;
  @include tablet {
    @include flex(row);
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 1.5rem;
    // padding-bottom: 3rem;
    align-items: center;
  }

  h3 {
    padding-bottom: 1rem;
    @include tablet {
      font-size: 14px;
      padding-top: 0.75rem;
      padding-bottom: 2.75rem;
    }
  }
  &__title {
    @include title(1.3rem, white);
    @include font("Avenir Next", 400);
    text-align: center;
    line-height: 2rem;
    letter-spacing: 2px;
    // padding-top: 1.5rem;
    font-size: 48px;
    // padding-bottom: 2rem;
    @include tablet {
      font-size: 28px;
      padding-bottom: 1.5rem;
    }
  }
  &__links {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    @include tablet{
      width: 40%;
    }

    &-container {
      // padding: 0 4rem;
      width: 100%; //removing width makes it centered
      margin-top: 30px;
      @include tablet {
        margin-top: 0;
        width: 70%;
      }
    }
  }

  &__link {
    @include title(24px, white);
    list-style: none;
    @include flex(row);
    @include tablet {
      margin-left: 4rem;
    }

    &--active {
      font-family: 700;
    }
    &-container {
      width: 50%;
      @include flex(row);
      justify-content: center;
      align-items: flex-start;
      // margin-bottom: 10px;

      &--active {
        border-bottom: solid 8px white;
        // height: 100%;
        @include tablet() {
          border: none;
        }
      }
    }
  }
}
.footer {
  background-color: variables.$bandSiteBlack;
  padding: 3rem 2rem;
  color: white;
  @include tablet {
    padding-top: 2rem;
    padding-left: 3.5rem;
  }

  p {
    font-size: 1.2rem;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__div-p {
    padding-top: 2.4rem;
    @include tablet {
      padding-top: 4rem;
    }
  }

  &__div1 {
    @include tablet {
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      padding-top: 2.5rem;
      padding-right: 1rem;
    }
  }

  &__title {
    @include title(3rem, white);
    font-weight: 600;
    @include tablet {
      font-size: 2.25rem;
      // padding-left: 5rem;
    }
  }
  &__copyright {
    margin-top: 5rem;
    padding-bottom: 2rem;

    &__title {
      font-size: 2.5rem;
      margin-bottom: 1.8rem;
    }
  }
  &__upperDiv-tablet {
    // position: relative;
    padding: 0;
    @include flex(column);
    @include tablet {
      @include flex(row);
      align-items: center;
      justify-content: flex-start;
      // flex-wrap: nowrap;
    }
  }
  &__containerMid-tablet {
    @include tablet {
      @include flex(row);
    }
    &__inner {
      @include tablet {
        margin-right: 2rem;
      }
    }
  }
  &__containerMid-tablet {
    @include tablet {
      @include flex(row);
    }
  }
}
.socials {
  @include flex(row);
  justify-content: space-between;
  width: 40%;
  margin: 0;
  padding: 2.4rem 0;

  @include tablet {
    width: 33vw;
    max-width: 25%;
    margin: 0;
    margin-left: 5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 2rem;
    @include tablet {
      height: 2rem;
    }
  }
}
.hidden {
  display: none;
  @include tablet {
    display: block;
  }
  &-tablet {
    @include tablet {
      display: none;
    }
  }
}

.bandsite-tablet {
  @include title(2.5rem, white);
  // position: absolute;
  // right: 0;
  // margin-right: 5rem;
  @include tablet {
    justify-self: flex-end;
    align-items: flex-end;
    display: inline-flex;
    font-size: 1.5rem;
    // padding-top: 4rem;
  }
}
