@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}
@mixin flex($axis) {
  display: flex;
  flex-direction: $axis;
  flex-wrap: wrap;
}
@mixin title($fontSize, $color) {
  color: $color;
  font-size: $fontSize;
}
@mixin font($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}
@mixin maxWidth() {
  max-width: 80rem;
  margin: 0 auto;
}
