@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold-light {
  font-weight: 600;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
}
@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 1.5rem;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-left: 8rem;
  }
}
.nav h3 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .nav h3 {
    font-size: 16px;
    margin-top: 0.75rem;
    padding-bottom: 2rem;
  }
}
.nav__logo {
  height: 48px;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    padding-bottom: 1.5rem;
  }
}
.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .nav__links {
    width: 40%;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__links {
    width: 25%;
  }
}
.nav__links-container {
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 48rem) {
  .nav__links-container {
    margin-top: 0;
    width: 70%;
  }
}
.nav__link {
  color: white;
  font-size: 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    margin-left: 4rem;
  }
}
.nav__link--active {
  font-family: 700;
}
.nav__link-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: #E1E1E1;
}
.nav__link-container--active {
  border-bottom: solid 8px white;
}
@media screen and (min-width: 48rem) {
  .nav__link-container--active {
    border: none;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link__name--active {
    border-bottom: solid 4px white;
    font-weight: 700;
    color: white;
  }
}

.footer {
  background-color: #323232;
  padding: 3rem 2rem 2rem 2rem;
  color: white;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-top: 2rem;
    padding-left: 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 10rem;
  }
}
.footer p {
  font-size: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer p {
    font-size: 0.875rem;
  }
}
.footer__div-p {
  margin-top: 2.4rem;
}
@media screen and (min-width: 48rem) {
  .footer__div-p {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__div-p {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-right: 1rem;
  }
}
.footer__title {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__copyright {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}
.footer__upperDiv-tablet {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__upperDiv-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48rem) {
  .footer__containerMid-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 48rem) {
  .footer__containerMid-tablet__inner {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__containerMid-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer__logo {
  margin-bottom: 2rem;
  height: 3rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo {
    display: none;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  margin: 0;
  margin: 2.4rem 0 1.7rem 0;
}
@media screen and (min-width: 48rem) {
  .socials {
    width: 33vw;
    max-width: 25%;
    margin: 0;
    margin-left: 3rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .socials {
    margin-left: 4rem;
  }
}
.socials__img {
  height: 3rem;
}
@media screen and (min-width: 48rem) {
  .socials__img {
    height: 2rem;
  }
}

.hidden-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .hidden-logo {
    display: block;
  }
}
@media screen and (min-width: 80rem) {
  .hidden-logo {
    margin-right: 6rem;
  }
}

.bandsite-tablet {
  color: white;
  font-size: 2.5rem;
}
@media screen and (min-width: 48rem) {
  .bandsite-tablet {
    justify-self: flex-end;
    align-items: flex-end;
    display: inline-flex;
    font-size: 1.5rem;
  }
}

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.9;
}
.hero__title {
  color: white;
  font-size: 42px;
  font-weight: 700;
  padding-left: 3rem;
  z-index: 10;
}
@media screen and (min-width: 80rem) {
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
    margin-left: 4rem;
  }
}

.bandimg {
  height: 50vw;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .bandimg {
    height: 42vw;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .bandimg {
    width: 100%;
    height: 38vw;
  }
}

@media screen and (min-width: 48rem) {
  .musicians {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.musicians__title {
  font-size: 48px;
  padding: 2.5rem 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .musicians__title {
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 40px;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__title {
    padding-left: 8rem;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 48rem) {
  .musicians__main {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__main {
    padding: 0 12rem;
  }
}
.musicians__quote, .musicians__author {
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 600;
  line-height: 3.125rem;
}
@media screen and (min-width: 48rem) {
  .musicians__quote, .musicians__author {
    font-size: 1.4rem;
    padding: 0;
  }
}
.musicians__quote {
  font-size: 1.8rem;
}
@media screen and (min-width: 48rem) {
  .musicians__quote {
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__quote {
    font-size: 24px;
    font-weight: 500;
    align-self: flex-start;
  }
}
.musicians__author {
  font-size: 2.1rem;
}
@media screen and (min-width: 48rem) {
  .musicians__author {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__author {
    font-weight: 500;
  }
}
.musicians__band {
  padding: 0 2rem;
  font-size: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  .musicians__band {
    font-weight: 600;
    align-self: flex-start;
    padding: 0;
    font-size: 1.75rem;
  }
}
.musicians__bio {
  padding: 0 2rem;
  font-size: 1.85rem;
  line-height: 42px;
}
@media screen and (min-width: 48rem) {
  .musicians__bio {
    font-size: 14px;
    width: 45%;
    padding: 0;
    line-height: 24px;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__bio {
    line-height: 26px;
  }
}
.musicians__bio-main {
  margin-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .musicians__bio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.musicians__bio-cont {
  padding-left: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
@media screen and (min-width: 48rem) {
  .musicians__bio-cont {
    margin: 0;
    width: 52%;
  }
}

.gallery {
  padding: 0 2rem;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 0 2rem 2rem 2rem;
  }
}
.gallery__title {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    font-size: 30px;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__title {
    margin-left: 2rem;
  }
}
.gallery__imgs {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .gallery__imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__imgs {
    gap: 2rem;
  }
}
.gallery__img {
  margin-bottom: 2rem;
  height: 30%;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery__img {
    width: 31%;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__img {
    width: 27%;
  }
}/*# sourceMappingURL=bio.css.map */