@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold-light {
  font-weight: 600;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
}
@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-left: 8rem;
  }
}
.nav a:not(.nav__log-link) {
  padding-bottom: 2rem;
}
.nav h3 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .nav h3 {
    font-size: 1.1rem;
    margin-top: 0.75rem;
  }
}
.nav__logo {
  height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    height: 2rem;
    margin-bottom: 1.5rem;
  }
}
.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .nav__links {
    width: 45%;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__links {
    width: 25%;
  }
}
.nav__links-container {
  width: 100%;
  margin-top: 1.3rem;
}
@media screen and (min-width: 48rem) {
  .nav__links-container {
    margin-top: 0;
    width: 70%;
  }
}
.nav__link {
  color: #afafaf;
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    margin-left: 4rem;
  }
}
.nav__link--active {
  font-family: 700;
  color: white;
}
.nav__link-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: #e1e1e1;
}
.nav__link-container--active {
  border-bottom: solid 0.3rem white;
}
@media screen and (min-width: 48rem) {
  .nav__link-container--active {
    border: none;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link-name--active {
    border-bottom: solid 0.25rem white;
    font-weight: 700;
    color: white;
  }
}

.footer {
  background-color: #323232;
  padding: 2rem 0 1.5rem 1.7rem;
  color: white;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 0 3rem 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 10rem;
  }
}
.footer p {
  font-size: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .footer p {
    font-size: 0.875rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: 0;
  margin-top: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .footer__socials {
    width: 33vw;
    max-width: 30%;
    margin: 0;
    margin-left: 3rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .footer__socials {
    margin-left: 4rem;
  }
}
.footer__socials-img {
  height: 1.65rem;
}
@media screen and (min-width: 48rem) {
  .footer__socials-img {
    height: 2rem;
  }
}
.footer__div-p {
  margin-top: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .footer__div-p {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__div-p {
    margin-right: 3rem;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-right: 1rem;
  }
}
.footer__title {
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__copyright {
  padding-top: 3.5rem;
  padding-bottom: 0rem;
}
.footer__social-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contacts-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contacts-tablet-inner {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__containerMid-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer__logo {
  margin-bottom: 1rem;
  height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo {
    display: none;
  }
}

.hidden-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .hidden-logo {
    display: block;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hidden-logo {
    margin-right: 6rem;
  }
}

.divider {
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 50vw;
  }
}
.hero__overlay {
  height: 60vw;
  width: 100vw;
  position: absolute;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media screen and (min-width: 80rem) {
  .hero__overlay {
    height: 50vw;
  }
}
.hero__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  z-index: 2;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.7rem;
    padding-left: 2.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 48rem) {
  .musicians {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.musicians__title {
  font-size: 1.3rem;
  padding: 1.3rem 2rem 0.8rem 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .musicians__title {
    padding: 2.5rem 2rem 1.8rem 2rem;
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__title {
    padding-left: 8rem;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 48rem) {
  .musicians__main {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__main {
    padding: 0 12rem;
  }
}
.musicians__img {
  height: 50vw;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .musicians__img {
    height: 42vw;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__img {
    width: 100%;
    height: 38vw;
  }
}
.musicians__quote, .musicians__author {
  padding: 0 2rem;
  margin-top: 0.3rem;
  font-weight: 600;
  line-height: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .musicians__quote, .musicians__author {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    padding: 0;
  }
}
.musicians__quote {
  font-size: 0.8rem;
}
@media screen and (min-width: 48rem) {
  .musicians__quote {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__quote {
    font-size: 1.5rem;
    font-weight: 500;
    align-self: flex-start;
  }
}
.musicians__author {
  font-size: 0.8rem;
}
@media screen and (min-width: 48rem) {
  .musicians__author {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 48rem) {
  .musicians__author {
    margin-top: 0.8rem;
    font-weight: 500;
  }
}
.musicians__band {
  padding: 0 2rem;
  font-size: 0.8rem;
  margin: 1.5rem 0;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  .musicians__band {
    font-weight: 600;
    align-self: flex-start;
    padding: 0;
    font-size: 1.75rem;
    margin-top: 3.5rem;
  }
}
.musicians__bio {
  padding: 0 2rem;
  font-size: 0.7rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 48rem) {
  .musicians__bio {
    font-size: 0.875rem;
    width: 45%;
    padding: 0;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .musicians__bio {
    line-height: 1.625rem;
  }
}
.musicians__bio-main {
  margin-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .musicians__bio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.musicians__bio-cont {
  padding-left: 2rem;
  margin: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .musicians__bio-cont {
    margin: 0;
    width: 52%;
  }
}

.gallery {
  padding: 0 1.5rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 0 1rem 2rem 1rem;
  }
}
.gallery__title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    margin: 1rem 0;
    padding: 1.3rem 0 0 1.3rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__title {
    margin-left: 2rem;
  }
}
.gallery__imgs {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .gallery__imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__imgs {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__imgs {
    gap: 2rem;
  }
}
.gallery__img {
  margin-bottom: 1rem;
  height: 30%;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery__img {
    width: 30%;
    padding: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__img {
    width: 27%;
    margin-bottom: 2rem;
  }
}

.comments {
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 80rem) {
  .comments {
    align-items: center;
  }
}
.comments__title, .comments__form-container {
  margin-bottom: 15px;
}
.comments__title {
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 80rem) {
  .comments__title {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__title-container {
    align-self: flex-start;
    margin-right: 10rem;
  }
}
@media screen and (min-width: 48rem) {
  .comments__article {
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__article {
    width: 76vw;
  }
}
.comments__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 80rem) {
  .comments__main {
    flex-wrap: nowrap;
  }
}
.comments__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 76%;
}
@media screen and (min-width: 80rem) {
  .comments__form {
    width: 85%;
  }
}
@media screen and (min-width: 80rem) and (min-width: 80rem) {
  .comments__form-container {
    width: 65%;
  }
}
.comments__form-name, .comments__form-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 2.25rem;
}
.comments__form-name-input, .comments__form-text-input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: solid 1px #e1e1e1;
  width: 100%;
}
.comments__form-name-input:focus, .comments__form-text-input:focus {
  outline: none;
  color: black;
  border-color: black;
}
.comments__form-name-label, .comments__form-text-label {
  color: #afafaf;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 0.9rem;
}
.comments__form-name-input {
  margin-bottom: 20px;
}
.comments__form-text-input {
  height: 60px;
  border-radius: 0.25rem;
  border: solid 1px #e1e1e1;
  margin-bottom: 40px;
}
.comments__form-name-container, .comments__form-text-container {
  width: 100%;
}
.comments__icon {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.comments__icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.8rem;
  margin-right: 10px;
  width: 20%;
}

.input__comment {
  color: #afafaf;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.input__comment:focus {
  color: black;
  border-color: black;
}

.comments__button {
  background-color: #323232;
  color: white;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .comments__button {
    width: 28%;
  }
}
.comments__button:hover {
  background-color: black;
}
@media screen and (min-width: 48rem) {
  .comments__button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.poster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-top: 1px solid #e1e1e1;
  padding: 1.5rem;
}
@media screen and (min-width: 80rem) {
  .poster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 57vw;
    padding: 0 1.5rem;
    border-top-width: 90%;
  }
}
@media screen and (min-width: 80rem) {
  .poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.poster__icon-container {
  margin-right: 20px;
}
@media screen and (min-width: 80rem) {
  .poster__icon-container {
    padding-top: 1.5rem;
  }
}
.poster__icon__avatar-default {
  background-color: #e1e1e1;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.poster__main-container {
  width: 90%;
}
@media screen and (min-width: 80rem) {
  .poster__main-container {
    width: 70%;
    padding: 1.5rem 0;
  }
}
.poster__name {
  font-weight: 600;
  font-size: 14px;
}
.poster__name-date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.poster__date {
  color: #e1e1e1;
  font-weight: 600;
  font-size: 14px;
}
.poster__comment {
  font-size: 14px;
}
.poster__comment-container {
  margin-bottom: 10px;
}

.error {
  border-color: #D22E2D;
}/*# sourceMappingURL=bio.css.map */