@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/_mixin" as *;
@use "./partials/_fonts" as *;

.header {
  @include desktop {
    @include maxWidth();
  }
}

.main {
  @include desktop {
    @include maxWidth();
  }
}
.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 100%;
  @include flex(row);
  align-items: center;
  position: relative;
  @include tablet {
    height: 24rem;
  }
  @include desktop {
    height: 40rem;
  }
  &__overlay {
    height: 12rem;
    width: 100%;
    position: absolute;
    color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    @include tablet {
      height: 24rem;
    }
    @include desktop {
      height: 40rem;
    }
  }

  &__title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
    z-index: 2;
    @include tablet {
      font-size: 3.7rem;
      padding-left: 2.5rem;
      font-weight: 600;
    }
    @include desktop {
      font-size: 4rem;
      font-weight: 600;
      padding-left: 8rem;
      padding-bottom: 3rem;
    }
  }
}
.musicians {
  padding: 1.3rem 2rem 0 2rem;
  @include tablet {
    padding: 3rem 2.5rem;
    @include flex(column);
    justify-content: center;
    align-items: center;
  }
  @include desktop {
    padding: 3rem 8rem;
  }
  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
    @include tablet {
      padding-bottom: 1.5rem;
      align-self: flex-start;
      font-size: 2.5rem;
    }
    @include desktop {
      font-size: 2.4rem;
    }
  }
  &__main {
    @include tablet {
      padding: 0 3rem;
    }
    @include desktop {
      padding: 0 5.5rem;
    }
  }
  &__img {
    height: 10rem;
    width: 100%;
    @include tablet {
      height: 20rem;
      padding: 0;
    }
    @include desktop {
      width: 100%;
      height: 28rem;
    }
  }
  &__quote,
  &__author {
    margin-top: 0.3rem;
    font-weight: 600;
    line-height: 1.4rem;
    @include tablet {
      font-size: 1.6rem;
      margin-top: 1.5rem;
    }
  }
  &__quote {
    font-size: 0.8rem;
    margin-top: 1rem;
    @include tablet {
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
    }
    @include desktop {
      font-size: 1.5rem;
      font-weight: 500;
      padding-right: 9rem;
      align-self: flex-start;
    }
  }
  &__author {
    font-size: 0.8rem;
    @include tablet {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }
    @include tablet {
      margin-top: 1.2rem;
      font-weight: 500;
    }
  }

  &__band {
    font-size: 0.8rem;
    margin: 1.5rem 0;
    font-weight: 500;
    @include tablet {
      font-weight: 600;
      align-self: flex-start;
      padding: 0;
      font-size: 1.75rem;
      margin-top: 3rem;
    }
  }
  &__bio {
    font-size: 0.7rem;
    line-height: 1.13rem;
    @include tablet {
      margin-right: 1.4rem;
      font-size: 0.85rem;
      width: 47%;
      line-height: 1.5rem;
    }
    @include desktop {
      line-height: 1.625rem;
    }
    &-main {
      margin-bottom: 2rem;
    }
    &-container {
      @include tablet {
        @include flex(row);
      }
    }
    &-cont {
      margin: 1rem 0;
      @include tablet {
        margin: 0;
        width: 48%;
      }
    }
  }
}

.gallery {
  padding: 0 1.5rem;
  background-color: $alabaster;
  @include flex(column);
  @include tablet {
    padding: 0 3rem;
  }
  @include desktop {
    padding: 3rem 8rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 2rem;
    @include tablet {
    }
    @include desktop {
    }
  }
  &__imgs {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include tablet {
      @include flex(row);
      gap: 1rem;
      justify-content: space-evenly;
    }
    @include tablet {
      gap: 1.5rem;
    }
    @include desktop {
      gap: 1.5rem;
    }
  }
  &__img {
    margin-bottom: 1rem;
    height: 30%;
    width: 100%;
    @include tablet {
      width: 30%;
      padding: 0;
      margin-bottom: 0;
    }
    @include desktop {
      width: 31%;
      margin-bottom: 0;
    }
  }
}
.comments {
  padding: 1.5rem 2rem 2rem 2rem;
  @include flex(column);
  @include tablet {
    padding: 3rem 0 0 3rem;
  }
  @include desktop {
    align-items: center;
    padding: 3rem 0 0 8rem;
  }
  &__title,
  &__form-container {
    margin-bottom: 1.5rem;
  }
  &__form-container {
    @include tablet {
      width: 90%;
    }
  }
  &__title {
    color: $bandSiteBlack;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.2rem;
    @include tablet {
      margin: 0;
      margin-bottom: 1.5rem;
      font-size: 2.4rem;
    }
    @include desktop {
    }

    &-container {
      @include desktop {
        align-self: flex-start;
        margin-right: 10rem;
      }
    }
  }
  &__article {
    @include tablet {
      padding-bottom: 0.5rem;
    }
    @include desktop {
      width: 76vw;
    }
  }
  &__main {
    @include flex(row);
    @include tablet {
      justify-content: center;
    }
  }
  &__form {
    @include flex(row);
    align-items: center;
    width: 84%;
    @include desktop {
      width: 85%;
      &-container {
        @include desktop {
          width: 60%;
        }
      }
    }

    &-name,
    &-text {
      @include flex(column);
      justify-content: space-evenly;
      min-height: 2.25rem;

      &-input {
        padding: 0.75rem;
        border-radius: 0.25rem;
        border: solid 1px $mercury;
        margin-top: 0.1875rem;
        width: 100%;
        background-color: #fcfafa;

        &:focus {
          outline: none;
          color: black;
          border-color: black;
        }
      }

      &-label {
        color: $silver;
        font-weight: 500;
        margin-bottom: 0.625rem;
        margin-top: 1.25rem;
        font-size: 0.9rem;
      }
    }

    &-name {
      &-input {
        margin-bottom: 1.25rem;
      }
    }
    &-text-input {
      height: 3.75rem;
      border-radius: 0.25rem;
      border: solid 1px $mercury;
      padding-bottom: 4.7rem;
      margin-bottom: 1.25rem;
    }
    &-name-container,
    &-text-container {
      width: 100%;
    }
  }
  &__icon {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    &-container {
      @include flex(row);
      justify-content: flex-end;
      margin-top: 1.8rem;
      margin-right: 0.625rem;
      width: 12%;
    }
  }
  &__error {
    color: $error;
  }
}
.input__comment {
  color: $silver;
  font-weight: 500;
  margin-bottom: 0.625rem;
  width: 100%;
  font-size: 0.9rem;
}

.input__comment:focus {
  color: black;
  border-color: black;
}
.comments__button {
  background-color: $bandSiteBlack;
  color: white;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;

  @include tablet {
    width: 31%;
  }

  &:hover {
    background-color: black;
  }
  &-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.poster {
  @include flex(row);
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-top: 1px solid $mercury;
  padding: 1rem 0;
  margin: 0 1.5rem;

  @include desktop {
    @include flex(row);
    width: 60%;
    border-top-width: 90%;
  }

  &-container {
    @include tablet {
      margin: 0 6.2rem 0 6rem;
    }
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      margin: 0 6.2rem 0 19rem;
    }
  }
  &__icon {
    &-container {
      margin-right: 1.25rem;
      @include desktop {
        padding-top: 1.5rem;
      }
    }
    &__avatar-default {
      background-color: $mercury;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
  &__main-container {
    width: 90%;
    @include desktop {
      width: 87%;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 0.875rem;
    &-date-container {
      @include flex(row);
      justify-content: space-between;
      margin-bottom: 0.625rem;
      width: 100%;
    }
  }
  &__date {
    color: $mercury;
    font-weight: 600;
    font-size: 0.875rem;
  }
  &__comment {
    font-size: 0.875rem;
    &-container {
      margin-bottom: 0.625rem;
    }
  }
}
.poster-container .poster:last-child {
  border-bottom: 1px solid $mercury;
  margin-bottom: 2rem;
}

.poster-desktop {
  @include desktop {
    @include maxWidth;
  }
}

.error {
  border-color: $error;
}

.hidden {
  color: white;
}
