@use "../styles/partials/variables" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/mixin" as *;

@mixin flex($axis) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $axis;
}

@mixin maxWidth() {
  max-width: 80rem;
  margin: 0 auto;
}
.main {
  @include maxWidth();
}
.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  width: 100%;
  @include tablet {
    height: 29rem;
  }
  @include desktop {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include maxWidth();
  }
  &__content {
    @include flex(column);
    justify-content: space-around;
    padding: 1rem;
    padding-top: 2rem;
    width: 100%;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      margin: 0;
      margin-bottom: 4rem;
      width: 72%;
    }
  }
  &__overlay {
    height: 16rem;
    width: 100%;
    position: absolute;
    color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    @include tablet {
      height: 29rem;
    }
    @include desktop {
      height: 40rem;
      @include maxWidth();
    }
  }
  &__text {
    z-index: 2;
    @include tablet {
      margin-top: 1rem;
    }
    @include desktop {
      display: flex;
      flex-flow: wrap column;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  }
  &__title {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 2;
    @include tablet {
      font-size: 3.4rem;
      padding-left: 2.5rem;
      font-weight: 600;
    }
    @include desktop {
      font-size: 3.5rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }
  &__album {
    color: white;
    z-index: 2;
    font-size: 0.8rem;
    margin-bottom: 0.625rem;
    @include tablet {
      font-size: 1.5rem;
      margin-top: 2rem;
      padding-left: 2.5rem;
    }
    @include desktop {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  &__soundcloud {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 7rem;
    width: 100%;
    margin-top: 1rem;
    z-index: 2;

    @include tablet {
      padding-left: 2.5rem;
      justify-content: flex-start;
      margin-top: 1.5rem;
    }
    @include desktop {
      width: auto;
    }
  }
  &__iframe {
    height: 85%;
    border-radius: 4px;
    border: none;
    width: 18rem;
    @include tablet {
      width: 22rem;
      height: 100%;
    }
    @include desktop {
      height: 100%;
    }
  }
}

.shows {
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: 1px solid $mercury;
  @include tablet {
    display: flex;
    flex-flow: wrap column;
    padding: 2rem;
    padding-top: 3.5rem;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__desktop-div {
    @include desktop {
      width: 62%;
      margin-right: 4rem;
      margin-top: 4rem;
    }
  }
  &__main {
    border-bottom: solid 1px $mercury;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: solid 1px $mercury;
      padding: 1rem;
    }
    @include desktop {
    }
    &:hover {
      background-color: $alabaster;
    }
    &--active {
      background-color: $mercury;

      &:hover {
        background-color: $mercury;
      }
    }
  }
  &__main p {
    @include desktop {
      font-size: 0.875rem;
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    @include tablet {
      font-size: 2rem;
      margin-left: 1rem;
    }
    @include desktop {
      font-size: 2.5rem;
      margin-left: 7rem;
      margin-top: 3rem;
    }
  }
  &__information-container {
    margin-top: 1rem;
    @include tablet {
      display: flex;
      flex-flow: wrap column;
      margin: 0;
    }
    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__details {
    color: $silver;
    font-weight: 600;
    margin-bottom: 0.625rem;
    @include tablet {
      display: none;
    }
    &--visible {
      @include tablet {
        display: inline-block;
      }
      @include desktop {
        margin-bottom: 2.5rem;
      }
    }
  }
  &__main:first-child .shows__details {
    @include tablet {
      display: inline-block;
    }
  }
  &__info {
    margin-bottom: 1.2rem;
    @include tablet {
      margin-top: 2rem;
    }
    &--date {
      font-weight: 600;
      @include tablet {
        margin-top: 2rem;
      }
    }
  }
  &__button {
    background-color: $bandSiteBlack;
    color: white;
    height: 2.5rem;
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin: 2rem 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: black;
    }

    @include tablet {
      width: auto;
      margin: 0;
      font-size: 1.2rem;
      padding: 1.5rem 1.8rem;
      align-self: center;
    }
    &-top {
      @include tablet {
        margin-top: 2rem;
      }
      @include desktop {
        margin-top: 4rem;
        font-size: 1rem;
      }
    }
  }
}
