@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold-light {
  font-weight: 600;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
}
@media screen and (min-width: 48rem) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav {
    padding-left: 8rem;
  }
}
.nav a:not(.nav__log-link) {
  padding-bottom: 2rem;
}
.nav h3 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .nav h3 {
    font-size: 1.1rem;
    margin-top: 0.75rem;
  }
}
.nav__logo {
  height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .nav__logo {
    height: 2rem;
    margin-bottom: 1.5rem;
  }
}
.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .nav__links {
    width: 45%;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__links {
    width: 25%;
  }
}
.nav__links-container {
  width: 100%;
  margin-top: 1.3rem;
}
@media screen and (min-width: 48rem) {
  .nav__links-container {
    margin-top: 0;
    width: 70%;
  }
}
.nav__link {
  color: #afafaf;
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    margin-left: 4rem;
  }
}
.nav__link--active {
  font-family: 700;
  color: white;
}
.nav__link-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: #e1e1e1;
}
.nav__link-container--active {
  border-bottom: solid 0.3rem white;
}
@media screen and (min-width: 48rem) {
  .nav__link-container--active {
    border: none;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link-name--active {
    border-bottom: solid 0.25rem white;
    font-weight: 700;
    color: white;
  }
}

.footer {
  background-color: #323232;
  padding: 2rem 0 1.5rem 1.7rem;
  color: white;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 0 3rem 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 10rem;
  }
}
.footer p {
  font-size: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .footer p {
    font-size: 0.875rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: 0;
  margin-top: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .footer__socials {
    width: 33vw;
    max-width: 30%;
    margin: 0;
    margin-left: 3rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 80rem) {
  .footer__socials {
    margin-left: 4rem;
  }
}
.footer__socials-img {
  height: 1.65rem;
}
@media screen and (min-width: 48rem) {
  .footer__socials-img {
    height: 2rem;
  }
}
.footer__div-p {
  margin-top: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .footer__div-p {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__div-p {
    margin-right: 3rem;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-right: 1rem;
  }
}
.footer__title {
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__copyright {
  padding-top: 3.5rem;
  padding-bottom: 0rem;
}
.footer__social-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contacts-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 48rem) {
  .footer__contacts-tablet-inner {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__containerMid-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer__logo {
  margin-bottom: 1rem;
  height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo {
    display: none;
  }
}

.hidden-logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .hidden-logo {
    display: block;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hidden-logo {
    margin-right: 6rem;
  }
}

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 50vw;
    justify-content: center;
  }
}
.hero__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.75rem;
  width: 100%;
}
@media screen and (min-width: 80rem) {
  .hero__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
    margin: 0;
    width: 89%;
  }
}
.hero__overlay {
  height: 70vw;
  width: 100vw;
  position: absolute;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media screen and (min-width: 80rem) {
  .hero__overlay {
    height: 50vw;
  }
}
.hero__text {
  z-index: 2;
}
@media screen and (min-width: 80rem) {
  .hero__text {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-bottom: 5.2rem;
  }
}
.hero__title {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 2;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.4rem;
    padding-left: 2.5rem;
    font-weight: 600;
  }
}
.hero__album {
  color: white;
  z-index: 2;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 48rem) {
  .hero__album {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__album {
    margin-bottom: 1rem;
  }
}
.hero__soundcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 30vw;
  width: 100%;
  margin-top: 2rem;
  z-index: 2;
}
@media screen and (min-width: 48rem) {
  .hero__soundcloud {
    padding-left: 2.5rem;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__soundcloud {
    width: auto;
  }
}
.hero__iframe {
  height: 100%;
  border-radius: 4px;
  width: 90vw;
}
@media screen and (min-width: 48rem) {
  .hero__iframe {
    width: 60vw;
    height: 75%;
  }
}
@media screen and (min-width: 80rem) {
  .hero__iframe {
    width: 32vw;
    height: 35%;
  }
}

.shows {
  padding: 2rem 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .shows {
    display: flex;
    flex-flow: wrap column;
    padding: 2rem;
    padding-top: 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .shows__desktop-div {
    width: 70%;
    margin-right: 4rem;
    margin-top: 4rem;
  }
}
.shows__main {
  border-bottom: solid 1px #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .shows__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 1px #e1e1e1;
    margin: 1rem;
  }
}
.shows__main:hover {
  background-color: #fafafa;
}
.shows__main--active {
  background-color: #e1e1e1;
}
.shows__main--active:hover {
  background-color: #e1e1e1;
}
.shows__title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
@media screen and (min-width: 48rem) {
  .shows__title {
    font-size: 2rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__title {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
}
.shows__information-container {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__information-container {
    display: flex;
    flex-flow: wrap column;
    margin: 0;
  }
}
@media screen and (min-width: 80rem) {
  .shows__information-container {
    margin-bottom: 1rem;
  }
}
.shows__details {
  color: #afafaf;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 48rem) {
  .shows__details {
    display: none;
  }
}
@media screen and (min-width: 48rem) {
  .shows__details--visible {
    display: inline-block;
  }
}
@media screen and (min-width: 80rem) {
  .shows__details--visible {
    margin-bottom: 2.5rem;
  }
}
.shows__info {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 48rem) {
  .shows__info {
    margin-top: 2rem;
  }
}
.shows__info--date {
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .shows__info--date {
    margin-top: 2rem;
  }
}
.shows__button {
  background-color: #323232;
  color: white;
  height: 2.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  margin: 2rem 0;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .shows__button {
    width: auto;
    margin: 0;
    font-size: 1.2rem;
    padding: 1.5rem 1.8rem;
    align-self: center;
  }
}
@media screen and (min-width: 48rem) {
  .shows__button-top {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__button-top {
    margin-top: 4rem;
  }
}
.shows__divider {
  color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */